
.classpath
.project


/.settings/

build/


/**/META-INF/


config/*.xml


/**/com/jsp/test/
!/**/com/jsp/text/Provider.java

/**/WEB-INF/resources/.vscode/
/**/WEB-INF/resources/node_modules/
/**/WEB-INF/resources/package.json
/**/WEB-INF/resources/package-lock.json

